<!DOCTYPE html>
<html lang="en">
<head>
    {{>links}}
    <style>
        body {
            background-color: antiquewhite;
        }
    </style>
</head>

<body>
    {{>index}}
    <h2>Thanks You To Use This Site!!!</h2>
    <img src="b1.jpg">
    
    {{>footer}}
</body>

</html>